# copy this file to modify settings

from django.utils.translation import gettext_lazy as _

DEBUG = False
ALLOWED_HOSTS = ['wishes.yourdomain.net']  # put here your domain list
SECRET_KEY = 'change this!'

GIFT_REGISTRY_SETTINGS = {
        'EVENT_NAME': "Noyel",
}

LANGUAGES = [
    ('en', _('English')),
    ('fr', _('French')),
]
