{% extends "gift_registry/base.html" %}
{% load i18n %}

{% block main_content %}

<p class="description">{{event_desc}}</p>

<p><em>{% trans "Select an item for more details." %}</em></p>

{% for gift in object_list %}

{% ifchanged gift.category %}
{% if forloop.counter0 %}</ul>{% endif %}
{% if gift.category %}
<h2>{{gift.category}}</h2>
{% endif %}
<ul>
{% endifchanged %}
    <li>
        {{ gift }}
        (<a href="{{ gift.get_absolute_url }}">{% trans "detail" %}</a>{% if gift.url %} / <a href="{{gift.url}}" target="_blank">{% trans "link" %}</a>{% endif %})
    </li>
{% empty %}
    <li>{% trans "Sorry, no gifts are available" %}</li>
{% endfor %}
</ul>
{% endblock %}
